# Things to include in the built package (besides the packages defined in setup.py)

graft termpair/frontend_build

include README.md
include requirements.txt
include LICENSE

prune termpair/frontend_src
prune docs
prune tests

exclude .flake8
exclude Dockerfile
exclude CHANGELOG.md
exclude CONTRIBUTING.md
exclude requirements.in
exclude termpair_browser.gif
exclude makefile
exclude mkdocs.yml
exclude mypy.ini
exclude noxfile.py
exclude package.json
exclude termpair_browser.png
exclude termpair_terminal.png
exclude yarn.lock