html {
    font-family: arial;
}

body {
    background-color: #222;
    color: white;
}

a {
    color: white;
}

#terminal {
    margin: 40px;
    padding: 10px;
    min-height: 100px;
    background-color: black;
}

#terminal.connection-pending{
    -webkit-box-shadow: 0 0 20px 8px blue;
    -moz-box-shadow: 0 0 20px 8px blue;
    box-shadow: 0 0 20px 8px blue;
}

#terminal.connected{
    -webkit-box-shadow: 0 0 20px 8px #a1b570;
    -moz-box-shadow: 0 0 20px 8px #a1b570;
    box-shadow: 0 0 20px 8px #a1b570;
}

#terminal.disconnected{
    -webkit-box-shadow: 0 0 20px 8px #bf3333;
    -moz-box-shadow: 0 0 20px 8px #bf3333;
    box-shadow: 0 0 20px 8px #bf3333;
}